/* === removing default button style ===*/
* {
  --animation-color: light-dark(var(--dark),#37FF8B);
}

.span-container {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.span-container {
  letter-spacing: 3px;
  text-decoration: none;
  font-family: "Arial";
  position: relative;
  color: light-dark(var(--dimlight),transparent);
  -webkit-text-stroke: 1px var(--gray);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: 6px solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.span-container:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
  text-shadow: 2px 0 1px cyan;
}