.observer {
    margin: 20px;
    text-align: center;
    align-self: center;
    transition: all 1s ease;
    visibility: hidden;

    /* background-color: aqua; */

    &.top {
        transform: translateY(-100%);
    }

    &.bottom {
        transform: translateY(100%);
    }

    &.left {
        transform: translateX(-100%);
    }

    &.right {
        transform: translateX(100%);
    }
    &.fadein {
        opacity: 0;
    }
    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%) translateY(0%);
    }
}