.navBg {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: light-dark(var(--dimligth), var(--dark));

    .navbar {
        display: flex;
        height: 7vh;
        margin: 0 10px;
        align-items: center;
        justify-content: space-between;
        border-bottom: light-dark(var(--dark), var(--dimligth)) 1px solid;

        .logo {
            color: light-dark(var(--dark), var(--dimligth));
            cursor: pointer;
            margin-left: 20px;
        }

        .navlinks {
            width: 60vw;

            ul {
                display: flex;
                justify-content: space-around;

                >a {
                    font-size: 1.1rem;
                    font-weight: bold;
                    padding: 5px 15px;
                    border-radius: 10px;
                    text-decoration: none;
                    transition-delay: 0.3s;
                    color: light-dark(var(--dark), var(--dimligth));

                    &:hover {
                        transition-delay: 0s;
                        color: light-dark(var(--dimligth), var(--dark));
                        background-color: light-dark(var(--dark), var(--ligth));
                        box-shadow: 0 0 1em 0.5em light-dark(var(--dark), var(--ligth));
                    }
                }
            }
        }
    }
}