.navBg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;


    .navbar {
        width: 100%;
        margin: 1vw 2vw;
        padding: 0.5vw;
        display: flex;
        align-items: center;
        border-radius: 10px;
        justify-content: space-around;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        &:hover {
            transition: all 1s ease;
            border-color: light-dark(var(--dark), #37FF8B);

            .surname {
                color: light-dark(var(--light), #37FF8B);
                text-shadow: 2px 0px 1px var(--dark);
            }
        }

        .navlinks {
            width: 80vw;

            ul {
                display: flex;
                justify-content: space-around;

                >a {
                    font-size: 1.1rem;
                    font-weight: bold;
                    padding: 5px 15px;
                    border-radius: 10px;
                    text-decoration: none;
                    transition-delay: 0.3s;
                    color: light-dark(var(--dark), var(--dimlight));

                    &:hover {
                        transition-delay: 0s;
                        color: light-dark(var(--dimlight), var(--dark));
                        background-color: light-dark(var(--dark), #37FF8B);
                        box-shadow: 0 0 1em 0.5em light-dark(transparent, #37FF8B);
                    }

                }

                >.button {
                    color: white;
                    text-decoration: none;
                    font-size: 1.1rem;
                    border: none;
                    background: none;
                    font-weight: 600;

                    &::before {
                        margin-left: auto;
                    }

                    &::after,
                    &::before {
                        content: '';
                        width: 0%;
                        height: 2px;
                        background: blue;
                        display: block;
                        transition: 0.5s;
                    }

                    &:hover::after,
                    &:hover::before {
                        width: 100%;
                    }
                }
            }
        }
        .star-container {
            align-items: center;
            /* background-color: red; */
            .star-icon {
                border-color: 1px solid aqua;
                &.special {
                    fill: #ffeb49;
                }
            }
        }
    }
}
/* fill: #ffeb49; */